@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}
::-webkit-scrollbar-track {
    background: none;
    
}
::-webkit-scrollbar-thumb {
    background: #595959;
    border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
    background: #080E14;
}